In [3]:
import numpy as np
import pandas as pd
dataframe_heartDisease="https://raw.githubusercontent.com/chiarorosa/ia_aprendizado_maquina_basico/main/ml-dataset/kaggle-basico/heart_Disease.csv"


df = pd.read_csv(dataframe_heartDisease)
meuSeed = 42 

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

from sklearn.metrics import classification_report

In [4]:
df.iloc[0:10]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [5]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [6]:
df.target.value_counts()

target
1    165
0    138
Name: count, dtype: int64

In [7]:
df.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
X = df.iloc[:,:-1] 
y = df.target 

X_normalizado = (X - X.min()) / (X.max() - X.min())

print('{} \n {}'.format(
    X.iloc[0:5], # .head()
    X_normalizado.iloc[0:5]
    ))

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
0   63    1   3       145   233    1        0      150      0      2.3      0
1   37    1   2       130   250    0        1      187      0      3.5      0
2   41    0   1       130   204    0        0      172      0      1.4      2
3   56    1   1       120   236    0        1      178      0      0.8      2
4   57    0   0       120   354    0        1      163      1      0.6      2

   ca  thal
0   0     1
1   0     2
2   0     2
3   0     2
4   0     2
         age  sex        cp  trestbps      chol  fbs  restecg   thalach  exang  \
0  0.708333  1.0  1.000000  0.481132  0.244292  1.0      0.0  0.603053    0.0
1  0.166667  1.0  0.666667  0.339623  0.283105  0.0      0.5  0.885496    0.0
2  0.250000  0.0  0.333333  0.339623  0.178082  0.0      0.0  0.770992    0.0
3  0.562500  1.0  0.333333  0.245283  0.251142  0.0      0.5  0.816794    0.0
4  0.583333  0.0  0.000000  0.245283  0.520548  0.0      0.5  0.702290    1.0

    oldpeak  slope   ca      thal
0  0.370968    0.0  0.0  0.333333
1  0.564516    0.0  0.0  0.666667
2  0.225806    1.0  0.0  0.666667
3  0.129032    1.0  0.0  0.666667
4  0.096774    1.0  0.0  0.666667

In [9]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_padronizado = scaler.fit_transform(X)
X_padronizado = pd.DataFrame(X_padronizado, columns=X.columns.values)

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size = 0.2, random_state=meuSeed)

In [11]:
modeloKNN = KNeighborsClassifier(n_neighbors=3)
modeloKNN.fit(X_train, y_train)

print('Acurácia do modelo KNN: {:.2f}%'.format(
    modeloKNN.score(X_test, y_test)*100
    ))

modeloTree = DecisionTreeClassifier(random_state=meuSeed)
modeloTree.fit(X_train, y_train)

print('Acurácia do modelo DT: {:.2f}%'.format(
    modeloTree.score(X_test, y_test)*100
    ))

modeloSVM = SVC(kernel='linear', random_state=meuSeed)
modeloSVM.fit(X_train, y_train)

print('Acurácia do modelo SVM: {:.2f}%'.format(
    modeloSVM.score(X_test, y_test) * 100
))

Acurácia do modelo KNN: 65.57%
Acurácia do modelo DT: 75.41%
Acurácia do modelo SVM: 86.89%

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_padronizado, y, 
                                                    test_size = 0.2, random_state=meuSeed)

In [13]:
modeloKNN = KNeighborsClassifier(n_neighbors=5)
modeloKNN.fit(X_train, y_train)

print('Acurácia do modelo KNN: {:.2f}%'.format(
    modeloKNN.score(X_test, y_test)*100
    ))

modeloTree = DecisionTreeClassifier(random_state=meuSeed)
modeloTree.fit(X_train, y_train)

print('Acurácia do modelo DT: {:.2f}%'.format(
    modeloTree.score(X_test, y_test)*100
    ))

modeloSVM = SVC(kernel='linear', random_state=meuSeed)
modeloSVM.fit(X_train, y_train)

print('Acurácia do modelo SVM: {:.2f}%'.format(
    modeloSVM.score(X_test, y_test) * 100
))

Acurácia do modelo KNN: 91.80%
Acurácia do modelo DT: 75.41%
Acurácia do modelo SVM: 86.89%

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size = 0.2, random_state=meuSeed)

In [15]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
132,42,1,1,120,295,0,1,162,0,0.0,2,0,2
202,58,1,0,150,270,0,0,111,1,0.8,2,0,3
196,46,1,2,150,231,0,1,147,0,3.6,1,0,2
75,55,0,1,135,250,0,0,161,0,1.4,1,0,2
176,60,1,0,117,230,1,1,160,1,1.4,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,50,1,2,140,233,0,1,163,0,0.6,1,1,3
71,51,1,2,94,227,0,1,154,1,0.0,2,1,3
106,69,1,3,160,234,1,0,131,0,0.1,1,1,2
270,46,1,0,120,249,0,0,144,0,0.8,2,0,3
102,63,0,1,140,195,0,1,179,0,0.0,2,2,2

In [16]:
from sklearn.utils import resample

X_reamostrado, y_reamostrado = resample(X_train, y_train, n_samples=1000, random_state=meuSeed)

In [17]:
y_reamostrado.value_counts()

target
1    563
0    437
Name: count, dtype: int64

In [18]:
X_negativo = X_reamostrado[y_reamostrado == 0]
X_positivo = X_reamostrado[y_reamostrado == 1]

In [19]:
X_negativo.shape

(437, 13)

In [20]:
X_positivo.shape

(563, 13)

In [22]:
X_positivo.shape

(563, 14)

In [23]:
X_concat_pos = pd.concat([X_positivo, X_train[y_train == 0]])
X_concat_pos['target'] = X_concat_pos['target'].fillna(0)

In [24]:
X_concat_neg = pd.concat([X_negativo, X_train[y_train == 1]])
X_concat_neg['target'] = X_concat_neg['target'].fillna(1)

In [25]:
X_concat_pos.target.value_counts()

target
1.0    563
0.0    109
Name: count, dtype: int64

In [26]:
X_concat_neg.target.value_counts()

target
0.0    437
1.0    133
Name: count, dtype: int64

In [27]:
X_train[y_train == 1]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
132,42,1,1,120,295,0,1,162,0,0.0,2,0,2
75,55,0,1,135,250,0,0,161,0,1.4,1,0,2
59,57,0,0,128,303,0,0,159,0,0.0,2,1,2
93,54,0,1,132,288,1,0,159,1,0.0,2,1,2
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,59,1,0,138,271,0,0,182,0,0.0,2,0,2
20,59,1,0,135,234,0,1,161,0,0.5,1,0,3
71,51,1,2,94,227,0,1,154,1,0.0,2,1,3
106,69,1,3,160,234,1,0,131,0,0.1,1,1,2
102,63,0,1,140,195,0,1,179,0,0.0,2,2,2

In [33]:
modeloKNN = KNeighborsClassifier(n_neighbors=3)
modeloKNN.fit(X_train, y_train)

print('Acurácia do modelo KNN: {:.2f}%'.format(
    modeloKNN.score(X_test, y_test)*100
    ))

print(classification_report(y_test, modeloKNN.predict(X_test)))

Acurácia do modelo KNN: 63.93%
              precision    recall  f1-score   support

           0       0.61      0.66      0.63        29
           1       0.67      0.62      0.65        32

    accuracy                           0.64        61
   macro avg       0.64      0.64      0.64        61
weighted avg       0.64      0.64      0.64        61

In [34]:
modeloTree = DecisionTreeClassifier(random_state=meuSeed)
modeloTree.fit(X_train, y_train)

print('Acurácia do modelo DT: {:.2f}%'.format(
    modeloTree.score(X_test, y_test)*100
    ))

print(classification_report(y_test, modeloTree.predict(X_test)))

Acurácia do modelo DT: 81.97%
              precision    recall  f1-score   support

           0       0.80      0.83      0.81        29
           1       0.84      0.81      0.83        32

    accuracy                           0.82        61
   macro avg       0.82      0.82      0.82        61
weighted avg       0.82      0.82      0.82        61

In [35]:
modeloSVM = SVC(kernel='linear', random_state=meuSeed)
modeloSVM.fit(X_train, y_train)

print('Acurácia do modelo SVM: {:.2f}%'.format(
    modeloSVM.score(X_test, y_test) * 100
))

print(classification_report(y_test, modeloSVM.predict(X_test)))

Acurácia do modelo SVM: 85.25%
              precision    recall  f1-score   support

           0       0.83      0.86      0.85        29
           1       0.87      0.84      0.86        32

    accuracy                           0.85        61
   macro avg       0.85      0.85      0.85        61
weighted avg       0.85      0.85      0.85        61